@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 
@model IEnumerable<Blog.Models.Category>

@{
    ViewData["Title"] = "DanhMucCategories";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-xl font-medium my-5">Danh Sách Chuyên Mục</h1>

<p>
    <a asp-action="ThemDanhMuc" class="shadow bg-blue-400 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">Create New</a>
</p>
<table class="table-auto w-full mt-7">
    <thead>
        <tr>
            <th class="border">
                STT
            </th>
            <th class="border">
                Tên Chuyên Mục
            </th>
            <th class="border">
                Description
            </th>
            <th class="border"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center border w-[100px]">
                @Html.DisplayFor(modelItem => item.CatId)
            </td>    
            <td class="border py-4 text-center">
                @Html.DisplayFor(modelItem => item.CatName)
            </td>
            <td class="border px-9 text-center">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td class="border flex-column gap-6 px-3">
                <a asp-action="SuaDanhMuc" asp-route-catID="@item.CatId" class="shadow bg-green-500 hover:bg-green-600 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-2 rounded">Edit</a> 
                <a asp-action="XoaDanhMuc" asp-route-catID="@item.CatId" class="shadow bg-red-500 hover:bg-red-600 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-2 rounded">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
