@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Blog.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Blog.Models.Post>

@{
    ViewData["Title"] = "ListPosts";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-xl font-medium my-5">Danh Sách Bài Đăng</h1>

<p>
    <a asp-action="ThemBaiViet" class="shadow bg-blue-400 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">Create New</a>
</p>
<table class="table-auto w-full mt-7">
    <thead>
        <tr>
            <th class="border">
                STT
            </th>
            <th class="border">
                Tên Bài Viết
            </th>             
            <th class="border">
                Tác Gỉa
            </th>
            <th class="border">
                Ảnh
            </th> 
            <th class="border">
                Ngày Tạo
            </th>
            <th class="border"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center border w-[70px]">
                @Html.DisplayFor(modelItem => item.PostId)
            </td>
            <td class="text-center border w-[300px]">
                @Html.DisplayFor(modelItem => item.PostName)
            </td>           
            <td class="border py-4 w-[150px] text-center">
                @Html.DisplayFor(modelItem => item.Author)
            </td>          
            <td class="border py-4 w-[200px]">
                <img src="@Url.Content("~/img/" + item.Picture)" alt="Ảnh" class="w-[200px] h-[150px] px-3 py-2 object-cover" />
            </td>
            <td class="border py-4 w-[100px] text-center">
                @if (item.CreateDate.HasValue)
                    {
                        @item.CreateDate.Value.ToShortDateString()
                    }
            </td>
            <td class="border w-[200px] px-5">
                <a asp-action="SuaBaiViet" asp-route-postsID="@item.PostId" class="shadow bg-green-500 hover:bg-green-600 focus:shadow-outline focus:outline-none text-white font-bold px-2 py-2 rounded">Edit</a>
                <a asp-action="ChiTietBaiViet" asp-route-postsID="@item.PostId" class="shadow bg-blue-500 hover:bg-blue-600 focus:shadow-outline focus:outline-none text-white font-bold rounded px-2 py-2">Details</a>            
                <a asp-action="XoaBaiViet" asp-route-postsID="@item.PostId" class="shadow bg-red-500 hover:bg-red-600 focus:shadow-outline focus:outline-none text-white font-bold rounded px-2 py-2">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="flex items-center justify-center space-x-4 my-4 mx-3 ">
    @foreach (var pageNumber in ViewBag.PageNumbers)
    {
        <a href="@Url.Action("ListPosts", new { page = pageNumber })" class="px-2 py-2 w-[50px] text-center border border-1 text-gray-700 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 text-blue-500 hover:text-blue-700">
            @pageNumber
        </a>
    }
</div>
